---
import HomePage from "../components/home/HomePage";
import Footer from "../components/global/Footer.astro";
import Navbar from "../components/global/Navbar.astro";
import Sidebar from "../components/global/Sidebar.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout title="MyDevNotes">
  <div class="min-h-screen flex flex-col">
    <Navbar />
    <div class="flex-1 w-full xl:pl-sidebar_width">
      <Sidebar variant="home" />
      <div class="w-full flex justify-center">
        <HomePage />
      </div>
    </div>
    <Footer variant="home" />
  </div>
</HomeLayout>
